*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  z-index: 99999;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  background-color: var(--body-background);
  border-bottom: 1px solid #d4d4d8;
}
.box-modal {
  z-index:999 ;
  margin: 0 auto;
  position: fixed;
  top: -50px;
  width: 100vw;
  height: 800px;
  display: block;
  background-color: var(--body-background);
  color: var(--text-color);
  padding: 100px 20px;
  text-align: center;
  /* border-radius: 20px; */
  transition: all 0.5s ease;
  transform: translate(0px, 0px);
  display: none;
}
.input-search-modal{
  margin-top: 100px;
  background-color: var(--body-background);
  border: 1px solid rgb(184, 179, 179);
  padding: 15px 10px;
  width: 650px;
  margin-bottom: 100px;
  color: var(--text-color);
}
.modal-text{
  position: relative;
  left: -220px;
}
.btns-styles{
  padding: 5px 10px;
  background-color: #0057FE;
  border-radius: 15px;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.btns-styles:nth-child(2){
  background-color: rgb(221, 115, 16);
}
.btns-styles:nth-child(3){
  background-color: rgb(221, 16, 16);
}
.btns-styles:nth-child(4){
  background-color: rgb(31, 236, 124);
}
#btn-close-modal{
  position: absolute;
  top: 90px;
  left: 1200px;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: var(--body-background);
  color: var(--text-color);
}
.btns-social-style{
  margin-top: 20px;
  position: relative;
  left: 350px;
  gap: 10px;
}
.show {
  transform: translate(0px, 50px);
  transition: all 0.5s ease;
  display: block;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
  overflow-x: hidden;
}
.dark{
  --body-background:#272935;
  --bx-color: #fff;
  --text-color: #fff;
  --bg-img-dark: url('../images/sun-regular-24.png');
  --bg-logo: url('../images/dark-theme-logo.svg');
  --line-color: #fff;
  --socials1:url('../images/twitter-logo-24-light.png');
  --socials2:url('../images/instagram-logo-24-light.png');
  --socials3:url('../images/telegram-logo-24-light.png');
  --socials4:url('../images/github-logo-24.png');
}
:root{
  --socials1:url('../images/twitter-logo-24.png');
  --socials2:url('../images/instagram-logo-24.png');
  --socials3:url('../images/telegram-logo-24.png');
  --socials4:url('../images/github-logo-24-dark.png');
  --line-color: #000;
  --text-color: #1b2746;
  --gray-color:#575861;
  --darkblue: #012293;
  --lightblue: #0057FE;
  --body-background:#fff;
  --border-color:#35394b;
  --bx-color: #161F38;
  --bg-img-dark: url('../images/moon-regular-24.png');
  --bg-logo: url('../images/arun-light-theme-logo.svg');
}
.container{
  width: 1150px;
}
.moon{
  background-image: var(--bg-img-dark);
  width: 25px;
  height: 25px;
  background-size: cover;
  position: relative;
  top: -3px;

}
.wrabber{
  position: absolute;
}
.logo{
  width: 126px;
  height: 40px;
  background-image: var(--bg-logo);
  background-size: cover;
  margin-right: 10%;
}
.navbar{
  position: relative;
  text-decoration: none;

  
}
.list-item a{
  list-style: none;
  color: var(--text-color);
  text-decoration: none;
}
.list-item{
  padding: 20px 10px;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
}
.btn-sign{
  background-color: var(--lightblue);
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  
  transition: all 0.3s ease-in;

}
.btn-sign:hover{
  transition: all 0.3s ease-in;
  background-color: var(--darkblue);
  color: #fff;
}
.sing-in-btn a{
  color: #fff;
  font-weight: 400;
  text-decoration: none; 
}
.sing-in-btn{
  list-style: none;
  margin-right: 30px;
}
.link{
  color: #fff;
}
.serach-btns{
  gap: 15px;
}
.serach-btns .bx{
  color: var(--bx-color);
  font-size: 25px;
}
.list-item-link::before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 2px;
  background-color: var(--line-color);
  top: 40px;
  transition: all 0.5s ease-in;
}
.home::before{
  content: '';
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: var(--lightblue);
  top: 40px;
  transition: all 0.5s ease-in;
}
.list-item:hover .list-item-link::before{
  width: 20px;
}
.more:hover .menu-list{
  display: block;
}
.bxs-chevron-down{
  position: relative;
  top: 3px;
  left: 5px;
}
.menu-list{
  left: 440px;
  position: absolute;
  padding: 20px 20px;
  /* border: 1px solid #000; */
  display: none;
}
.menu-list-ul{
  line-height: 25px;
  width: 160px;
  height: 150px;
  text-decoration: none;
  list-style: none;
  padding: 10px 10px;
  background-color: var(--body-background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list-items-menu:hover .menu-list-link::before{
  width: 20px;
 }
/* .menu-list-link::before{
  content: '';
  position:absolute ;
  display: inline-block;
  width: 0px;
  height: 2px;
  background-color: var(--line-color);
  top: 5px;
  transition: all 0.5s ease-in;
} */ 

.left-side{
  margin-top: 300px;
  margin-bottom: 100px;
}
.title-arslan{
  font-weight: bold;
  font-size: 4rem;
}
.text-autor{
  font-size: 1.5rem;
}
.bx-icon{
  background-image: var(--socials1);
  background-size: cover;
  width: 25px;
  height: 20px;
  margin-right: 10px;
}
.instagram{
  background-image: var(--socials2);
}
.telegram{
  background-image: var(--socials3);
}
.github{
  background-image: var(--socials4);
}
.follow-section{
  height: 30px;
}
.follow-up{
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 700;
}
.text-color{
  color: var(--text-color);
}
.input-email{
  border-radius: 5px;
  border: 1px solid rgb(158, 154, 154);
  background-color: var(--body-background);
  padding: 15px 20px;
  width: 334px;
  margin-bottom: 40px;
  margin-right: 10px;
  color: var(--text-color);
}
.input-email:focus{
  border: none;
  outline: 2px solid #0057FE;
}
.text-autor{
  margin-bottom: 50px;
}
.btn-subscribe{
  position:relative ;
  top: -20px;
  padding: 15px 15px;
  background-color: #0057FE;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  
  transition: all 0.3s ease-in;
}
.btn-subscribe:hover{
  transition: all 0.3s ease-in;
  background-color:var(--darkblue) ;
}

.anime-first{
  margin-top: 200px;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px dashed #000;
}
.anime-inside{
  /* border: 1px solid #000; */
  width: 600px;
  position: absolute;
  height: 600px;
  border-radius: 50%;
  /* background-color:  rgba(0, 0, 0, 0.446); */
  animation-name: aylana;
  animation-duration: 170s;
  animation-iteration-count: infinite;
}
@keyframes aylana {
  0%{
    transform: rotateZ(0deg);
    }
  50%{
    transform: rotateZ(180deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
  
}


.anime-inside::after{
  content: '';
  position: relative;
  left: 140px;
  width: 50px;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color:  #f01717;
  box-shadow: 4px 0px 33px 28px rgba(248, 19, 42, 0.446);
}


.anime-inside::before{
  content: '';
  position: relative;
  left: 20px;
  width: 40px;
  top: 420px;
  position: absolute;
  height: 40px;
  border-radius: 50%;
  background-color:  #2395ed;
  transform: rotateZ(180deg);
  box-shadow: 4px 0px 33px 28px rgba(80, 19, 248, 0.446);
  display: block;
}

.second{
  top: -150px;
  left: 50px;
  width: 500px;
  height: 500px;
}
.third{
  top: -200px;
  border: none;
  width: 600px;
  height: 600px;
}
.third-inside{
  width: 600px;
  height: 600px;
}
.third-inside::before{
  left: 545px;
  background-color: #63a4d6;  
  box-shadow: 4px 0px 33px 28px rgba(97, 247, 244, 0.446);
}
.third-inside::after{
  left: 40px;
  top: 200px;
  background-color: #dc1dac;  
  box-shadow: 4px 0px 33px 28px rgba(209, 18, 187, 0.446);
}
.second-inside{
  width: 500px;
  height: 500px;
}
.second-inside::before{
  left: 400px;
  background-color: #15e92e;
  
  box-shadow: 4px 0px 33px 28px rgba(15, 235, 34, 0.446);
}
.second-inside::after{
  left: 340px;
  background-color: #4315e9;
  box-shadow: 4px 0px 33px 28px rgba(81, 15, 235, 0.446);
}
.img-center{
  position: absolute;
  left: 100px;
  top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid #000;
}
.video-najot{
  border-radius: 50%;
  animation-iteration-count: i;
}



/* ----------------------------------------- */
.Sayttan-tashqari-reklama{
  display: inline-block;
  margin-top: 100px;
}
.clor-white{
  color: #000;
}
.color-txt-aside{
  color: #0057FE;
}
.item-box-aside{
  padding: 10px 10px;
  text-align: center;
  font-weight: 700;
  /* width: 200px; */
  /* height: 100%; */
  background-color: #fff;
}
.title-aside{
  font-size: 40px;

}
.chegirma-boxes{
  gap: 10px;
  padding: 20px 20px;
  position: relative;
  border-radius: 5px;
}
.aside-btn{
  position: relative;
  top: 40px;
  padding: 10px 15px;
  height: 30px;
  background-color: #0057FE;
  color: #fff;
  text-decoration: none;
}
.aside-btn:hover{
  background-color: #012293;
}
.table-aside{
  padding: 20px 10px;
  background: linear-gradient(90deg, rgba(124,123,131,1) 0%, rgba(64,0,255,1) 0%, rgba(50,17,194,1) 54%);
  color: rgb(248, 248, 248);
  border: 1px solid #000;
  width: 850px; 
  height: 265px; 
  border-radius: 10px;
  margin-bottom: 80px;
}
.save-percent{
  padding: 5px 5px;
  background-color: #15e92e;
  border-radius: 20px;
}
.title-body{
  font-size: 25px;
  color: var(--text-color);
  border-bottom: 4px solid #0f7fd4;
  margin-bottom: 100px;
  width: 190px;
}
.compare-arrow{
  margin-top: 80px;
  color: #fff;
  font-size: 20px;

}
.bx-right-arrow-alt{
  position: relative;
  top: 3px;
}
.dollar-50{
  color: #000;
  font-size: 40px;

}
.text-almost{
  margin-bottom: 20px;
  line-height: 20px;
  color: var(--text-color);
}

.lifestyle{
  padding: 5px 5px;
  background-color: #0057FE;
  width: 90px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}
.life-style-after::after{
  content: '';
  display: inline-block;
  position: relative;
  background-image: url(../images/star-solid-24.png);
  width: 25px;
  height: 25px; 
  left: 100px;
  top: -28px;
}
.life-style-after{
  
  margin-bottom: 15px;
}
.title-self{
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--text-color);
  /* line-height: 10px; */
}
.list-time{
  list-style: none;
  gap: 20px;
  color: var(--text-color);
}
.img-hero{
  height: 240px;
  width: 240px;
  border-radius: 10px;
  background-image: url('../images/rasm-1.jpg');
  background-size: cover;
  margin-right: 30px;
}
.header-section{
  position: relative;
  left: 50px;
}
.body-item{
  margin-bottom: 80px;
}
.second-img{
  background-image: url('../images/rasm-2.jpg');
}

.third-img{
  background-image: url('../images/rasm-3.jpg');
}
.fourth-img{
  background-image: url('../images/rasm-4.jpg');
}
.container{
  position: relative;
  left: 5%;
  right:5%;
}
.aside-inbox{
  position: relative;
  left: 10%;
  right: 10%;
}
.container-second{
  position: relative;
  left: 2%;
  right: 2%;
  margin: 0 auto;
}
.letter-section{
  padding: 30px;
  width: 80%;
  background: linear-gradient(90deg, rgba(124,123,131,1) 0%, rgba(64,0,255,1) 0%, rgba(50,17,194,1) 54%);
}
.bx-mail-send{
  font-size: 100px;
}
.new-letter-title{
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.aside-inbox{
  padding: 20px 20px;
  text-align: center;
}
.stayup-text{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.name-input{
  padding: 15px 10px;
  color: var(--text-color);
  border-radius: 5px;

  border: 1px solid rgb(233, 226, 226);
}
.email-input{
  border: 1px solid rgb(233, 226, 226);
  border-radius: 5px;
  width: 300px;
  padding: 15px 10px;
  color: var(--text-color);
}
.sub-btn-inbox{
  padding: 15px 20px;
  background-color:var(--lightblue) ;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  
}
.header-section{
  margin-left: 100px;
}
.sub-btn-inbox:hover{
  background-color:var(--darkblue);
}
.inbox-inputs{
  position: relative;
  left: 200px;
  background-color: #fff;
  padding: 10px 10px;
  gap: 10px;
  width: 680px;
  border-radius: 10px;
}